doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/layout.css")
		block head

	body
		.container.main-container
			block content
			
			if me
				.logout
					a.btn.btn-default(href="/auth/logout") Logout
		block scripts
		
