extends layout

block content
	h1 Virtual Business Card

	p Generate a virtual business card from your LinkedIn profile!

	p
		a.btn.btn-primary(href="/auth") Connect with LinkedIn
	
	p Connect to create, view, or edit your business card!
