.business-card {
  width: 500px;
  border: 1px solid black;
  min-height: 200px;
  margin: auto;
}

.picture {
  float: left;
}

.card-info {
  overflow: hidden;
}

.card-line {
  display: block;
}

.card-name {
  font-size: 1.5em;
}

.card-editable-field {
  position: relative;
}

.remove-position-button {
  margin-left: 1em;
}

.remove-position-button:hover {
  cursor: pointer;
}

.edit-instructions {
  color: green;
}
