.business-card {
  width: 500px;
  border: 1px solid black;
  margin: auto;
  padding: 30px;
  overflow: hidden;
}

.picture {
  float: left;
}

.card-info {
  overflow: hidden;
}

.card-line {
  display: block;
}

.card-name {
  font-size: 1.5em;
}

.card-editable-field {
  position: relative;
}

.remove-position-button {
  margin-left: 1em;
}

.remove-position-button:hover {
  cursor: pointer;
}

.edit-controls {
  margin-top: 10px;
}

.edit-controls button {
  margin: 0 5px;
}

.edit-alert {
  margin: auto;
  margin-top: 10px;
  width: 250px;
}

.footer {
  margin-top: 10px;
}
